.blog {
  padding: 110px 0;

  @include below ($tablet-width) {
    padding-top: 45px;
    padding-bottom: 65px;
  }

  @include below ($mobile-width) {
    padding-top: 50px;
  }
}

.blog__wrap {
  h2 {
    @include font-size (2.12em, 1.5em, 700);
    font-family: $secondary-text;
    text-align: center;
    margin: 0;
    padding-bottom: 13px;
  }
}

.blog__link {
  text-align: center;
  margin: 0;

  a {
    color: $primary-text-color;
    font-weight: 500;
    border-bottom: 1px solid $accent-color;
    transition: ease-in-out 0.2s;

    &:hover {
      color: $accent-color;
      border-bottom: none;
    }

    &:focus {
      opacity: 0.5;
    }
  }
}

.blog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  padding-top: 64px;

  @include below ($tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px 0;
  }

  @include below ($mobile-width) {
    padding-top: 55px;
  }
}

.blog__item {
  display: flex;

  &:nth-child(2) {
    grid-column: 1/2;
  }

  @include below ($tablet-width) {
    &:nth-child(2) {
      grid-column: auto;
    }
  }

  @include below ($mobile-width) {
    flex-direction: column;
  }
}

.blog__item--2 {
  @include below ($mobile-width) {
    .blog__text-block {
      order: 2;
    }
  }
}

.blog__item--small {
  height: 300px;

  @include below ($mobile-width) {
    height: auto;
  }
}

.blog__item--big {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/-1;

  .blog__text-block {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
  }

  @include below ($tablet-width) {
    grid-column: auto;
    grid-row: auto;

    .blog__text-block {
      position: static;
      height: auto;
    }
  }

}

.blog__text-block {
  background-color: $basic-white100;
  min-width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;

  time {
    @include font-size (0.87em, 1.5, 500);
    color: $basic-grey;
    padding-top: 65px;
    padding-bottom: 10px;
  }

  h3 {
    @include font-size (1.62em, 1.5, 600);
    font-family: $secondary-text;
    color: $basic-black;
    margin: 0;
    text-align: center;
    overflow: hidden;
    width: 60%;
  }

  a {
    color: inherit;
    border-bottom: 1px solid $accent-color;
    font-weight: 500;
    margin-top: auto;

    &:hover {
      color: $accent-color;
    }
  }

  @include below ($tablet-width) {
    min-width: 339px;

    h3 {
      width: 50%;
    }
  }

  @include below ($mobile-width) {
    min-width: 290px;
    width: min-content;
    padding-bottom: 0;

    time {
      padding-top: 42px;
    }

    h3 {
      width: 56%;
    }

    a {
      margin-bottom: 50px;
    }
  }
}

.blog__item img {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  height: 100%;

  @include below ($tablet-width) {
    width: 339px;
    height: 300px;
    min-height: 100%;
  }

  @include below ($mobile-width) {
    width: 290px;
    height: 256px;
  }
}
