.catalog {
  margin-bottom: 73px;

  @include below ($mobile-width) {
    margin-bottom: 65px;
  }
}

.catalog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.87rem;
  margin-bottom: 80px;

  @include below ($tablet-width) {
    margin-bottom: 58px;
  }

  @include below ($mobile-width) {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    margin-bottom: 35px;
    grid-gap: 23px;
  }
}
