.catalog-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  min-height: 100vh;

  @include below ($tablet-width) {
    display: block;
  }

  @include below ($mobile-width) {
    min-height: 0;
  }
}
