.faq {
  margin-bottom: 110px;

  @include below ($tablet-width) {
    margin-bottom: 75px;
  }

  @include below ($mobile-width) {
    margin-bottom: 57px;
  }
}

.faq__wrap {
  h2 {
    @include font-size (2.12em, 1.5em, 700);
    font-family: $secondary-text;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
  }

  button {
    @include font-size (1.12em, 1.5em, 500);
    text-align: center;
    margin: 0;
    width: 100%;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  @include below ($tablet-width) {
    h2 {
      margin-bottom: 45px;
    }
  }

  @include below ($mobile-width) {
    h2 {
      margin-bottom: 14px;
    }

    button {
      font-size: inherit;
      text-align: left;
      padding-bottom: 5px;
      width: auto;
    }
  }
}

.faq__list {
  @include list-reset;
  padding: 0 100px;

  @include below ($tablet-width) {
    padding: 0;
  }
}

.faq__item {
  border: 1px solid $accent-color;
  padding: 42px 42px 38px;

  p {
    width: 58%;
    margin: 0;
  }

  @include below ($tablet-width) {
    padding: 41px 50px 40px;

    p {
      width: 98%;
    }
  }

  @include below ($mobile-width) {
    padding: 13px 25px;

    p {
      font-size: 0.87em;
      width: 85%;
    }
  }
}

.faq__item--open {
  .faq__content {
    display: block;
  }

  .faq__button {
    @include below ($tablet-width) {
      padding-bottom: 20px;
    }
  }

  .faq__button {
    @include below ($mobile-width) {
      padding-bottom: 10px;
    }
  }
}
