.filters {
  @include below ($tablet-width) {
    margin-bottom: 50px;

    &--nojs {
      display: block;
    }
  }

  @include below ($mobile-width) {
    margin-bottom: 40px;
  }
}

.filters--closed .filters__form {
  @include below ($tablet-width) {
    display: none;
  }
}

.filters--opened .filters__form {
  @include below ($tablet-width) {
    display: block;
  }
}

.filters--opened .filters__form {
  @include below ($tablet-width) {
    position: fixed;
    inset: 0;
    background-color: $basic-white;
    z-index: 100;
    padding-top: 45px;
  }
}

.filters__toggler {
  @include font-size (1em, 1.5em, 500);
  @include button-reset;
  display: none;
}

.filters--opened {
  @include below ($tablet-width) {
    .filters__toggler {
      display: block;
      position: fixed;
      top: 0;
      right: 50%;
      z-index: 999;
      width: 33px;
      height: 33px;
      cursor: pointer;
      background-image: url("../img/close-icon.svg");
      background-repeat: no-repeat;
      background-color: $transparent;
      font-size: 0;
    }
  }
}

.filters--closed .filters__toggler {
  @include below ($tablet-width) {
    display: block;
    background-color: $accent-color;
    padding: 1.5em;
    color: $basic-white;
    width: 100%;

    &:hover {
      background-color: darken($accent-color, 10%);
    }

    &:active {
      background-color: lighten($accent-color, 10%);
    }
  }
}

.filters__form fieldset {
  padding: 0;
  margin: 0;
  border: 1px solid $accent-color;
  width: 250px;

  @include below ($tablet-width) {
    width: 360px;
    border: none;
    border-bottom: 1px solid $accent-color;
  }
}

.filters__list {
  @include list-reset;
  padding-bottom: 15px;
}

.filters__option {
  margin-bottom: 10px;
  padding-left: 60px;

  label {
    @include font-size (0.87em, 1.5em, 500);
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }
}

.filters__toggle {
  @include font-size (1em, 1.5em, 500);
  width: 100%;
  font-weight: 500;
  margin-top: 23px;
  margin-bottom: 17px;
  padding-left: 24px;
}

.filters__input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 6px;
  width: 15px;
  height: 15px;
  border: 1px solid $accent-color;
}

.filters__input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -29px;
  width: 13px;
  height: 13px;
  background-color: $accent-color;
}

.filters__input-checkbox:hover+label,
.filters__input-checkbox:focus+label {
  color: $accent-color;
}

.filters__button {
  display: block;
  width: 86%;
  padding: 1.5em;
  font-weight: 500;

  &:last-child {
    margin-bottom: 0;
  }

  &--submit {
    background-color: $accent-color;
    color: $basic-white;
    margin-top: 36px;
    margin-bottom: 35px;
  }

  &--reset {
    border: 1px solid $accent-color;
    color: $basic-black;

  }

  &:hover {
    background-color: darken($color: $accent-color, $amount: 10%);
  }

  &:active {
    background-color: lighten($color: $accent-color, $amount: 10%);
  }

  @include below ($tablet-width) {
    width: 362px;
    margin-left: 20px;
  }
}

// PXP -open

.filters__product {
  .filters__list--product,
  .filters__list--price {
    display: block;
  }
}
