.footer-nav {
  flex: 1 1 380px;

  @include below ($mobile-width) {
    width: 100%;
  }
}

.footer-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 220px;

  @include below ($mobile-width) {
    flex-wrap: nowrap;
    max-height: none;

    :nth-child(4) {
      margin-bottom: 50px;
    }
  }
}

.footer-nav__item {
  padding-bottom: 30px;
  padding-right: 70px;

  &:last-child {
    padding-bottom: 0;
  }
  a {
    color: $basic-white;
    font-weight: 500;

    &:hover {
      color: $accent-color;
    }
  }
}
