.goods {
  display: flex;
  margin-bottom: 83px;
  margin-top: 65px;

  @include below ($tablet-width) {
    margin-bottom: 68px;
    margin-top: 17px;
  }

  @include below ($mobile-width) {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 52px;
  }
}

.goods__photos {
  display: flex;
  margin-right: 100px;
  padding-top: 15px;

  @include below ($tablet-width) {
    flex-direction: column;
    margin-right: 0;
    padding-right: 32px;
  }

  @include below ($mobile-width) {
    margin-right: 0;
    margin-bottom: 26px;
    padding-right: 0;
    padding-top: 0;
  }
}

.goods__preview {
  margin-right: 30px;

  @include below ($tablet-width) {
    order: 2;
    margin-right: 0;
  }

  @include below ($mobile-width) {
    display: none;
  }
}

.goods__preview-list {
  @include list-reset;

  li {
    padding-bottom: 30px;
  }

  img {
    vertical-align: bottom;
  }

  @include below ($tablet-width) {
    display: flex;

    li {
      padding-bottom: 0;
      padding-right: 14px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.goods__review {
  position: relative;

  figure {
    position: relative;
    margin: 0;
  }

  figcaption {
    display: none;
  }

  img {
    object-fit: contain;
    height: 435px;
  }

  @include below ($tablet-width) {
    padding-bottom: 10px;

    img {
      width: 319px;
      height: 284px;
    }
  }

  @include below ($mobile-width) {
    padding-bottom: 2px;

    img {
      width: 100%;
      height: auto;
      min-height: 260px;
      object-fit: cover;
    }

    figcaption {
      display: block;
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      color: $primary-text-color;
      font-size: 0.87em;
      font-weight: 500;
    }
  }
}

.goods__photo-preview {
  @include button-reset;
}
