.goods-info {
  flex: 1 1 auto;
  margin-right: 102px;

  h3 {
    @include font-size (2.12em, 1.5em, 700);
    font-family: $secondary-text;
    margin: 0;
  }

  p {
    @include font-size (1.62em, 1.5em, 400);
    margin: 0;
    padding-bottom: 40px;
  }

  @include below ($tablet-width) {
    margin-right: 0;

    h3 {
      padding-bottom: 6px;
    }

    p {
      padding-bottom: 34px;
    }
  }

  @include below ($mobile-width) {
    p {
      padding-bottom: 23px;
    }
  }
}

.goods-info__list {
  @include list-reset;
  display: flex;
  margin-bottom: 28px;

  li {
    padding-right: 35px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.goods-info__link {
  color: $primary-text-color;
  font-weight: 500;

  &--current {
    color: $basic-grey;
  }
}

.goods-info__content {
  margin: 0;
  margin-bottom: 50px;

  dt {
    @include font-size (0.87em, 1.5em, 500);
  }

  dd {
    @include font-size (0.87em, 1.5em, 400);
  }

  @include below ($mobile-width) {
    margin-bottom: 37px;
  }
}

.goods-info__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $basic-white100;
  padding-bottom: 10px;
  margin-bottom: 8px;
}

.goods-info__btn {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  width: 100%;
  padding: 1.3em;
  background-color: $accent-color;
  color: $basic-white;
  border: none;
  cursor: pointer;
  margin-bottom: 17px;

  &:hover {
    background-color: darken($color: $accent-color, $amount: 10%);
  }

  &:active {
    background-color: lighten($color: $accent-color, $amount: 10%);
  }

  @include below ($tablet-width) {
    margin-bottom: 12px;
  }
}

.goods-info__guarantees {
  @include list-reset;
  @include font-size (0.87em, 1.5em, 500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $basic-grey;

  li {
    flex: 0 0 120px;

    &:last-child {
      text-align: end;
    }
  }

  @include below ($tablet-width) {
    @include font-size (0.75em, 1.5em, 500);

    li {
      flex: 1 1 auto;
    }
  }

  @include below ($mobile-width) {
    li {
      flex: 0 0 65px;
      text-align: center;

      &:last-child {
        text-align: center;
      }
    }
  }
}
