.hero {
  font-family: $secondary-text;
  color: $basic-white;
  position: relative;
  z-index: -1;
  background-color: $accent-color;
  background-image: url("../img/intro-desktop@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;

  @include retina () {
    background-image: url("../img/intro-desktop@2x.jpg");
  }

  p {
    margin: 0;
  }

  @include below ($tablet-width) {
    background-image: url("../img/intro-tablet.jpg");

    @include retina () {
      background-image: url("../img/intro-tablet@2x.jpg");
    }
  }

  @include below ($mobile-width) {
    background-image: url("../img/intro-main-mobile@1x.jpg");

    @include retina () {
      background-image: url("../img/intro-main-mobile@2x.jpg");
    }
  }
}

.hero__title {
  @include font-size (2.8em, 1.5em, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include below ($mobile-width) {
    font-size: 2.25em;
  }
}

.hero__description {
  @include font-size (2.37em, 1.5em, 400);
  font-style: italic;

  @include below ($mobile-width) {
    font-size: 2.12em;
  }
}
