.hero {
  font-family: $secondary-text;
  color: $basic-white;
  position: relative;
  z-index: -1;
  background-color: $accent-color;
  background-image: url("../img/intro-desktop@1x.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 117px;

  @include retina () {
    background-image: url("../img/intro-desktop@2x.webp");
  }

  p {
    margin: 0;
  }

  @include below ($tablet-width) {
    margin-bottom: 65px;
    background-image: url("../img/intro-tablet.webp");

    @include retina () {
      background-image: url("../img/intro-tablet@2x.webp");
    }
  }

  @include below ($mobile-width) {
    margin-bottom: 57px;
    background-image: url("../img/intro-main-mobile@1x.webp");

    @include retina () {
      background-image: url("../img/intro-main-mobile@2x.webp");
    }
  }
}

.hero__title {
  font-size: 2.8em;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include below ($tablet-width) {
    padding-top: 5px;
    padding-right: 15px;
  }

  @include below ($mobile-width) {
    font-size: 2.25em;
    letter-spacing: 0.07em;
    padding-right: 0;
  }
}

.hero__description {
  font-size: 2.37em;
  font-weight: 400;
  font-style: italic;

  @include below ($tablet-width) {
    padding-right: 20px;
  }

  @include below ($mobile-width) {
    font-size: 2.12em;
    padding-right: 0;
  }
}
