.inst {
  margin-bottom: 130px;

  @include below ($tablet-width) {
    margin-bottom: 80px;
  }

  @include below ($mobile-width) {
    margin-bottom: 76px;
  }
}

.inst__wrap {
  h2 {
    @include font-size (2.12em, 1.5em, 700);
    font-family: $secondary-text;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
  }

  @include below ($tablet-width) {
    h2 {
      margin-bottom: 16px;
    }
  }
}

.inst__link {
  text-align: center;
  margin: 0;
  margin-bottom: 60px;

  a {
    color: $primary-text-color;
    font-weight: 500;
    border-bottom: 1px solid $accent-color;
    transition: ease-in-out 0.2s;

    &:hover {
      color: $accent-color;
      border-bottom: none;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  @include below ($mobile-width) {
    margin-bottom: 44px;
  }
}

.inst__list {
  @include list-reset;
  display: grid;
  grid-template-columns: auto max-content repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 27px;
  grid-row-gap: 34px;

  @include below ($tablet-width) {
    grid-template-columns: auto 1fr repeat(2, auto);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }

  @include below ($mobile-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 24px;
    grid-row-gap: 27px;
  }
}

.inst__item {
  position: relative;

  &--2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &--3 {
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  &--5 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  @include below ($mobile-width) {

    &--4,
    &--6{
      display: none;
    }

    &--3{
      grid-column: 2/3;
      grid-row: 1/3;
    }

    &--5 {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &--7 {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
}

.inst__item img {
  display: flex;
  width: 100%;
  object-fit: cover;

  @include below ($tablet-width) {
    width: 133px;
    min-width: 100%;
    min-height: 100%;
  }
}
