.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;

  @include below ($tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-nav__list {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  @include below ($tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-nav__tab-list {
  display: none;

  @include below ($tablet-width) {
    @include list-reset;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    li {
      flex: 0 1 auto;
      padding-bottom: 10px;
      padding-left: 44px;

      &:last-child  {
        padding-top: 55px;

        a {
          color: $basic-white;
        }
      }
    }

    a {
      @include font-size (1.12em, 1.5em, 500);
      color: $basic-white-rgba;
    }
  }
}

.main-nav__item {
  flex: 0 1 auto;
  padding-bottom: 10px;
  padding-left: 33px;

  &:first-child {
    padding-left: 0;
  }

  a {
    @include font-size (1em, 1.5, 500);
    font-family: $primary-text;
    color: $primary-text-color;
    padding-bottom: 5px;

    &:hover {
      color: $accent-color;
      border-bottom: 2px solid $accent-color;
      transition: .2s ease-in;
    }

    &:focus {
      opacity: 0.8;
    }

    @include below ($tablet-width) {
      @include font-size (1.5em, 1.5em, 00);
      color: $basic-white;
    }
  }
}
