.modal-login__dialog {
  max-width: 430px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.modal-login__form {
  h3 {
    @include font-size (2.12em, 1.5em, 700);
    font-family: $secondary-text;
    text-align: center;
    color: $primary-text-color;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 25px;
  }
}
