.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: $basic-black;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 14px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__show {
  display: block;
  animation: bounce 0.6s;
}

.modal__error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
