.modal-cart {
  background-color: $basic-white;
  max-width: 500px;
  padding: 55px 35px;

  h2 {
    @include font-size (1.62em, 1.5em, 700);
    font-family: $secondary-text;
    text-align: center;
    margin: 0;
    padding-bottom: 55px;
  }

  @include below ($mobile-width) {
    max-width: 290px;
    padding: 45px 15px;

    h2 {
      font-size: 1.5em;
      padding-bottom: 40px;
    }
  }
}

.modal-cart__product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  @include below ($mobile-width) {
    margin-bottom: 55px;
  }
}

.modal-cart__info {
  padding-left: 20px;

  h3 {
    @include font-size (1.12em, 1.5em, 700);
    font-family: $secondary-text;
    margin: 0;
  }

  p {
    margin: 0;
  }

  @include below ($mobile-width) {
    padding-left: 15px;
  }
}

.modal-cart__amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;

  button {
    @include button-reset;
  }
}

.modal-cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  p {
    @include font-size (0.87em, 1.5em, 400);
    margin: 0;
  }

  .modal-cart__subtotal {
    font-weight: 500;
  }

  @include below ($mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  p {
    padding-bottom: 20px;
  }
}

.modal-cart__buttons {
  display: flex;
  align-items: center;
  gap: 24px;

  @include below ($mobile-width) {
    flex-direction: column;
  }
}
