.page-footer {
  background-color: $basic-black;
  padding: 88px 0;

  @include below ($tablet-width) {
    padding: 45px 0;
  }

  @include below ($mobile-width) {
    padding: 45px 0;
  }
}

.page-footer__wrap {
  display: flex;
  flex-wrap: wrap;

  @include below ($tablet-width) {
    gap: 45px 0;
    padding-right: 145px;
  }

  @include below ($mobile-width) {
    padding-right: 15px;
  }
}
