.page-header {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 65%;
    transform: translateX(0%);
    width: 100%;
    height: 1px;
    background-color: $basic-white200;
  }

  @include below ($tablet-width) {
    &::before {
      display: none;
    }
  }
}

.page-header__wrap {
  position: relative;

}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2em;
  margin-bottom: 2em;

  @include below ($tablet-width) {
    position: relative;
    z-index: 1;
  }
}

.page-header__toggle {
  display: none;

  @include below ($tablet-width) {
    display: block;
    position: absolute;
    top: 50px;
    z-index: 2;
    width: 25px;
    height: 16px;
    cursor: pointer;
    border: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    background-color: $transparent;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $primary-text-color;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    ;
  }
}

.page-header--closed {
  @include below ($tablet-width) {
    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2) {
      top: 6px;
    }

    span:nth-child(3) {
      top: 12px;
    }
  }
}

.page-header--opened {
  @include below ($tablet-width) {
    span {
      background-color: $basic-white;
    }

    span:nth-child(1) {
      top: 6px;
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    span:nth-child(3) {
      top: 6px;
      transform: rotate(-135deg);
    }

    .page-header__wrap {
      position: fixed;
      inset: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: $accent-color;
      overflow-y: scroll;
      z-index: 1;
    }

    .page-header__search {
      position: relative;
      display: block;
      order: 4;
      width: 100%;
      margin-top: 2.5em;
    }

    .search__field {
      border-radius: 20px;
      background-color: rgba($color: $basic-white, $alpha: 0.15);
      padding: 1em;
      padding-left: 35px;
      color: $basic-white;
    }

    .search__field::placeholder {
      font-size: 0;
    }

    .search__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      color: $basic-white;
      width: 16px;
      height: 16px;
    }

    .logo__icon {
      color: $basic-white;

      &:hover {
        color: $basic-grey;
      }
    }

    .user-menu__icon {
      color: $basic-white;
      fill: $accent-color;

      &:hover {
        color: $basic-grey;
      }
    }

    .main-nav__item a,
    .main-nav__tab-item a {
      &:hover {
        color: $basic-grey;
      }
    }

  }
}

.page-header--closed .main-nav {
  @include below ($tablet-width) {
    display: none;
  }
}

.page-header--nojs .page-header__toggle {
  @include below ($tablet-width) {
    display: none;
  }
}

.page-header--nojs .main-nav {
  @include below ($tablet-width) {
    position: static;
    min-height: 0;
    padding-top: 10px;
  }
}
