.pagination {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;

  &--inner {
    justify-content: space-between;
  }

  .swiper-pagination-bullet {
    @include button-reset;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $basic-grey;
    opacity: 1;

    &:hover {
      background-color: $accent-color;
      color: $basic-white;
      border-radius: 50%;
    }
  }

  .swiper-pagination-bullet-active {
    color: $basic-black;
  }

  @include below ($mobile-width) {
    &--inner {
      justify-content: center;
    }
  }
}

@include below ($mobile-width) {
  .swiper-pagination-fraction {
    font-weight: 500;

    span {
      margin: 0 10px 0 10px;
    }
  }
}

.pagination__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item {
  padding-right: 15px;

  &:last-child {
    padding-right: 0;
  }

  a {
    color: $basic-grey;
    font-weight: 500;

    &:hover {
      color: $accent-color;
    }
  }

  &--current a  {
    color: $primary-text-color;
  }
}

.pagination__button {
  border: none;
  cursor: pointer;
  background-color: $transparent;
  font-size: inherit;
  font-weight: 500;

  &:hover {
    color: $accent-color;
  }

  @include below ($mobile-width) {
    display: none;
  }
}
