.products {
  margin: 0 auto;

  @include below ($tablet-width) {
    max-width: 768px;
  }
}

.products__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  h2 {
    @include font-size (2.12em, 1.5em, 700);
    font-family: $secondary-text;
    text-align: center;
    margin: 0;
  }
}

.products__link {
  text-align: center;
  margin: 0;

  a {
    color: $primary-text-color;
    font-weight: 500;
    border-bottom: 1px solid $accent-color;
    transition: ease-in-out 0.2s;

    &:hover {
      color: $accent-color;
      border-bottom: none;
    }

    &:focus {
      opacity: 0.5;
    }
  }
}

.products__list {
  @include list-reset;
  display: flex;
  padding: 44px 0 53px;
}

.products__item {
  flex: 0 0 auto;
  box-shadow: 0px 0px 0px $basic-grey;
  transition:  box-shadow .6s ease-out;

  p {
    font-weight: 500;
    color: $primary-text-color;
    text-align: center;
    margin: 0;
    padding-top: 25px;
  }

  img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto
  }

  &:hover {
    box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05),
                0px 16px 24px rgba(48, 49, 51, 0.1);
    transition:  box-shadow .6s ease-in;
  }

  @include below ($tablet-width) {
    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      width: 324px;
      height: 340px;
    }
  }

  @include below ($mobile-width) {
    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      height: auto
    }
  }
}

.products__title span {
  @include font-size (0.87em, 1.5em, 700);
  display: block;
  padding-top: 15px;
}

.products__button {
  content: "";
  position: absolute;
  top: 50px;
  width: 29px;
  height: 9px;
  background-repeat: no-repeat;
  transition: all ease 1s;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;

  &--prev {
    background-image: url("../img/arrow-prev.svg");

  }

  &--next {
    background-image: url("../img/arrow-icon.svg");
    right: 30px;
  }

  &:hover {
    transform: scale(1.5);
  }

  &:focus {
    transform: scale(1.2);
  }

  @include below ($mobile-width) {
    display: none;
  }
}

.products__item--inner {
  @include below ($tablet-width) {
    img {
      height: 208px;
    }
  }

  @include below ($mobile-width) {
    img {
      min-height: 136px;
      height: auto;
    }
  }
}

