.range__controls {
  position: relative;
  height: 16px;
  border-radius: 5px;
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 20px;
}

.range__scale {
  height: 2px;
  background: $basic-white100;
}

.range__bar {
  width: 50%;
  height: 2px;
  margin-left: 26%;
  background: $accent-color;
}


.range__toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: $accent-color;
  border-radius: 50%;
  cursor: pointer;

  &--min {
    left: 70px;
  }

  &--max {
    left: 175px;
  }
}

.range__price-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  label {
    padding-left: 35px;
    font-weight: 500;

    &:last-child {
      padding-left: 0;
    }
  }

  input {
    font-family: inherit;
    font-size: inherit;
    width: 60px;
    border: none;
  }
}
