.social {
  flex: 1 1 auto;
}

.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 5px;

  @include below ($mobile-width) {
    flex-direction: row;
    width: 67%;
  }
}

.social__item {
  flex: 1 1 auto;
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
  }

  a {
    font-weight: 500;
    color: $basic-white;

    span {
      padding-left: 10px;
    }

    &:hover svg,
    &:hover {
      color: $accent-color;
    }
  }

  @include below ($mobile-width) {
    a {
      font-size: 0;
    }

    svg {
      width: 20px;
      height: 21px;
    }
  }
}
