.user-menu {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;

  @include below ($tablet-width) {
    min-width: 0;
  }
}

.user-menu__item {
  padding-right: 10px;

  &:last-child {
    padding-right: 0;
  }

  a {
    @include font-size(0.87em, 1.5em, 500);
    color: $primary-text-color;

    &:hover {
      color: $accent-color;
    }
  }

  svg {
    display: none;
  }

  @include below ($tablet-width) {
    flex: 0 0 auto;
    margin-left: auto;

    &--login {
      display: none;
    }

    &--cart {
      svg {
        display: inline-block        ;
        color: $basic-black;
        fill: $basic-white;
        vertical-align: bottom;
      }

      a {
        font-size: 0;
      };
    }
  }

  @include below ($mobile-width) {
    &--cart {
      position: absolute;
      top: 20%;
      right: 0;
    }
  }
}

.user-menu__cart-count {
  padding-left: 10px;
}
